.accordion .answer{
    display:none;
}
.question{
    padding:2%;
}

.accordion.active .answer{
    display:block;
    padding:2%;
}

.question::before {
    content: '+ ';
}

.question:hover, 
.accordion.active .question{
    cursor:pointer;
}

.accordion.active .question::before {
    content: '- ';
}
