body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

header {
    background-color: white;
    color: black;
}

.main-menu li a{
    text-decoration: none;
    color:black;
}

main section:nth-child(even){
    background-color: #f7f7f7;
}

/*Otázky a odpovede*/

.question{
    background-color:#f7f7f7;
    color:black;
}

.accordion.active .answer{
    background-color:#f7f7f7;
    color:black;
}

.question:hover,
.accordion.active .question{
    background-color:#bfbcbc;
}
